* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font-family: 'Maven Pro', sans-serif;
}

/* Header / Nav bar styles start */

header {
    padding: 20px 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 45px;
    text-decoration: none;
    color: #000;
}

header a {
    text-decoration: none;
    color: #000;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 40px;
    font-weight: 100;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: #669999;
    color: white;
    border-radius: 5px;
    text-shadow: none;
}

/* Header / Nav bar styles end */

.frontpage {
    margin: 0;
}

 .logo {
    padding: 120px 60px 0px 850px;
    font-size: 210px;
    float: right;
    background: url('../images/photo-1613208884938-3a519c1e25c6.jpg') 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.descriptions {
    padding: 0 75px 0 1360px;
}

.descriptions h3 {
    text-align: right;
    font-size: 50px;
}

.descriptions h4 {
    text-align: right;
    font-size: 40px;
}

.descriptions h5 {
    font-size: 30px;
}



/* Section Start */



/* Section End */